#box{
    width: 200px;
    height: 200px;
    background-color: brown;
    position: relative;
}
.center{
    display: flex;
      flex-direction: column; /* Stack children vertically */
    align-items: center;
}